---
import Briefcase from "./icons/Briefcase.astro";
import IconTitle from "./IconTitle.astro";
import { experiences } from "../constants/consts";

interface Props {
  id: string;
  class?: string;
}
---

<section
  class={`mx-auto bg-[#1b2d35] h-[100dvh] text-foreground ${Astro.props.class}`}
  id={Astro.props.id}
>
  <div class="max-w-5xl mx-auto pt-16 px-4 sm:px-5">
    <IconTitle title="Experiencia">
      <Briefcase class="size-8" />
    </IconTitle>

    <div class="pt-12">
      {
        experiences.map((experience) => (
          <div class="relative border-l-[1.5px] border-foreground/50 px-6 pb-5 max-w-3xl mx-auto">
            <div class="exp__dot absolute top-2 left-0 size-3 border-3 border-primary -translate-x-1/2 rounded-full bg-foreground" />
            <article class="text-base">
              <h3 class="exp__position text-xl font-semibold text-foreground">
                {experience.workPosition}
              </h3>
              <p class="exp__company text-foreground/80">
                {experience.company} - {experience.location}
              </p>
              <span class="exp__dates block text-foreground/50">
                {experience.startDate} – {experience.endDate}
              </span>
              <p class="exp__description mt-2 text-base text-pretty">
                {experience.description}
              </p>
            </article>
          </div>
        ))
      }
    </div>
  </div>
</section>
