---
import DialogCV from "./DialogCV.astro";
import IconBadge from "./IconBadge.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Logo from "./icons/Logo.astro";
import Whatsapp from "./icons/WhatsApp.astro";

const rrss = [
  {
    title: "LinkedIn",
    href: "https://linkedin.com/in/bernardo-lc",
    label: "Visitar perfil de LinkedIn",
    icon: LinkedIn,
  },
  {
    title: "GitHub",
    href: "https://github.com/holddev",
    label: "Visitar perfil de GitHub",
    icon: Github,
  },
  {
    title: "WhatsApp",
    href: "https://wa.me/+59174026870",
    label: "Contactar por Whatsapp",
    icon: Whatsapp,
  },
];
interface Props {
  id: string;
  class?: string;
}
---

<section
  class={`mx-auto bg-[#121f26] min-h-screen text-foreground flex flex-col w-full justify-between ${Astro.props.class}`}
  {...Astro.props}
>
  <div class="w-full max-w-7xl px-4 mx-auto pt-32">
    <span
      title="Disponible para trabajar"
      class="hero__badge inline-flex items-center text-[.8rem] text-primary bg-black rounded-full border-2 border-[#d48d23] pr-2 tracking-wide"
    >
      <Logo class="size-8" />isponible para Trabajar
    </span>
  </div>
  <div class="w-full max-w-5xl mx-auto px-2">
    <h1
      class="hero__title font-jura font-semibold text-4xl sm:text-6xl md:text-7xl text-start sm:text-center
bg-gradient-to-r from-primary to-primary/40 bg-clip-text text-transparent"
    >
      Bernardo Lima
    </h1>

    <div class="flex gap-4">
      <p
        class="hero__description py-4 text-pretty sm:mx-auto max-w-xl text-start sm:text-center"
      >
        ¡Hola! Soy Bernardo, soy persona apasionada por desarrollo web con ganas
        de dejar mi huella en el mundo digital. Me entusiasma explorar nuevas
        tecnologías y contribuir en proyectos donde pueda mejorar mis
        habilidades.
      </p>
    </div>
    <ul class="hero__rrss flex sm:hidden gap-4">
      {
        rrss.map(({ href, label, icon: Icon }) => (
          <li>
            <IconBadge href={href} title={label} label={label}>
              <Icon class="size-4 fill-current" />
            </IconBadge>
          </li>
        ))
      }
    </ul>

    <div class="hero__btn-cv">
      <DialogCV />
    </div>
  </div>
  <div class="w-full max-w-7xl px-4 mx-auto">
    <div class="flex justify-between items-end py-4">
      <strong
        class="hero__rol flex flex-col font-dosis tracking-wide font-[300] sm:text-3xl text-xl py-3 text-foreground"
      >
        FRONTEND <span class="text-primary/90">DEVELOPER</span>
      </strong>
      <ul class="hero__rrss hidden sm:flex gap-4">
        {
          rrss.map(({ href, label, icon: Icon }) => (
            <li>
              <IconBadge href={href} title={label} label={label}>
                <Icon class="size-4 fill-current" />
              </IconBadge>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
